<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.highfive.mapper.BoardMapper">

	<insert id="regist">
		insert into tbl_board (title, content, writer, startdate, enddate, language, flag)
		values (#{title}, #{content}, #{writer}, #{startdate}, #{enddate}, #{language}, #{flag})
	</insert>
	
	<select id="read" resultType="org.highfive.domain.BoardVO">
 		select bno, title, content, writer, regdate, startdate, enddate, viewcnt, replycnt, language, flag, uname
 		from tbl_board join tbl_user on writer=uid 
 		where bno=#{bno}
 	</select>

 	<update id="modify">
 		update tbl_board set title=#{title}, content=#{content}, startDate=#{startdate}, enddate=#{enddate}, language=#{language} 
 		where bno=#{bno}
 	</update>

 	<delete id="delete">
 		delete from tbl_board where bno=#{bno} and writer=#{writer}
 	</delete>
 	
 	<select id="getBno" resultType="int">
 		select bno from tbl_board where bno=#{bno} and writer=#{writer}
 	</select>

	<select id="listAll" resultType="org.highfive.domain.UserBoardVO">
 		select b.bno, b.title, b.content, b.writer, b.regdate, b.startdate, b.enddate, b.viewcnt, b.replycnt, b.language, b.flag, u.uname, u.uphoto
 		from tbl_board as b join tbl_user as u
 		on b.writer=u.uid
 		where flag=#{flag}
 		order by b.bno desc, b.regdate desc
 	</select>

	<update id="updateReplyCnt">
		update tbl_board set replycnt = replycnt + #{amount} where bno =#{bno};
	</update>

	<update id="updateViewCnt">
		update tbl_board set viewcnt = viewcnt + 1
		where bno = #{bno}
	</update>
	
	<select id="searchList" resultType="org.highfive.domain.UserBoardVO">
 		select b.bno, b.title, b.content, b.writer, b.regdate, b.startdate, b.enddate, b.viewcnt, b.replycnt, b.language, b.flag, u.uname, u.uphoto
 		from tbl_board as b join tbl_user as u
 		on b.writer=u.uid
 		where (b.title like CONCAT('%', #{keyword}, '%') OR b.content like CONCAT('%', #{keyword}, '%')) and flag=#{flag}
 		order by b.bno desc, b.regdate desc
 		limit #{page}, #{perPageNum}
	</select>
	
	<select id="pageList" resultType="org.highfive.domain.UserBoardVO">
		select b.bno, b.title, b.content, b.writer, b.regdate, b.startdate, b.enddate, b.viewcnt, b.replycnt, b.language, b.flag, u.uname, u.uphoto
 		from tbl_board as b join tbl_user as u
 		on b.writer=u.uid
 		where flag=#{flag}
 		order by b.bno desc, b.regdate desc 
		limit #{page}, #{perPageNum}
	</select>
</mapper>