<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.highfive.mapper.highfiveMapper">

	<insert id="regist">
		insert into tbl_highfive (receiver, sender, hiFlag )
		values (#{receiver},#{sender},#{hiFlag})
	</insert>
	
	<select id="read" resultType="org.highfive.domain.highfiveVO">
		select hno, receiver, sender, hiFlag, senddate from tbl_highfive where hno=#{hno}
	</select>

	<delete id="delete">
 		delete from tbl_highfive where hno=#{hno}
 	</delete>
 	
 	<select id="listAll" resultType="org.highfive.domain.highfiveVO">
 		<![CDATA[ 
 		select  h.hno, h.receiver, h.sender, h.hiFlag, h.senddate
 		from tbl_highfive as h and tbl_user as u on h.receiver=u.uid
 		where hno > 0 
 		order by h.hno desc, h.hiFlag 
 		]]>
 	</select>
</mapper>