<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.highfive.mapper.ReplyMapper">

	<insert id="regist">
		insert into tbl_reply (content, uid, bno)
		values (#{content}, #{uid}, #{bno})
	</insert>
	
 	<update id="modify">
 		update tbl_reply set content=#{content} 
 		where rno=#{rno} and uid=#{uid}
 	</update>

 	<delete id="delete">
 		delete from tbl_reply where rno=#{rno}
 	</delete>

<!--  		delete from tbl_reply where rno=#{rno} and uid=#{uid} -->

	<select id="list" resultType="org.highfive.domain.UserReplyVO">
 	<![CDATA[ 
 		select  u.uid, u.uname, u.uphoto, r.rno, r.bno, r.content, r.regdate
 		from  tbl_reply as r join tbl_user as u
 		on r.uid=u.uid 
 		where r.bno=#{bno}
 		order by r.bno desc, r.regdate desc
 	]]>  
 	</select>
 	
 	<select id = "getBno" resultType="int">
 		select bno from tbl_reply where rno = #{rno}
 	</select>
		
</mapper>